.maindiv{
		border: 2px #7F00FF solid; 
		width: 76%; 
		left: 22%; 
		position:absolute; 
		text-align: center;
		-moz-border-radius: 12px;
		border-radius: 12px;
	}

.validation{
		width: 50%;
		margin: 0 auto; 
		/*border: 2px solid red;*/
		text-align: center;
		padding: 1px;
		font: 12px;
		color: red; 
	}

.validationexc{
		width: 50%;
		/*height: 10px;*/
		margin: 0 auto; 
		/*border: 2px solid red;*/
		text-align: center;
		padding: 1px;
		font: 12px;
		color: red; 
	}

table.tab, tr.tab, td.tab2{
	/*border: 1px solid #7F00FF;*/
	text-align:center;
	padding: 3px;
	/*border-collapse: collapse;
	border-spacing: 0;*/
}


td.noborder{
	border-right: 2px double #9400D3;
	border-left: 2px double #9400D3;
}

.home{
	width: 50%;
	margin: 0 auto; 
	border: 2px solid #9400D3;
	text-align: center;
	padding: 5px;
	font: 20px;
}

.rounded{
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.rounded2{
	border:2px solid;
	/*border-top-left-radius:12px;
	border-top-right-radius:12px;*/
	position: relative; 
	background: #9400D3; 
	color: white; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	padding-left: 5px;
	height:80px;
}

.rounded3{
border-top-left-radius:12px;
	border-top-right-radius:12px;
}

.rounded4{
border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
}

input[type=text]:focus { 
	border-color: #6EA2DE;
	box-shadow: 0px 0px 10px #6EA2DE; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

input[type=password]:focus { 
	border-color: #6EA2DE;
	box-shadow: 0px 0px 10px #6EA2DE; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

input[type=submit]{
	background-color: #9400D3;
	border-color: #9400D3;
	color: white;
	padding: 4px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

input[type=reset]{
	background-color: #9400D3;
	border-color: #9400D3;
	color: white;
	padding: 4px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

input[type=button]{
	background-color: #9400D3;
	border-color: #9400D3;
	color: white;
	padding: 4px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#Tabs ul {
padding: 0px;
margin: 0px;
margin-left: 0px;
list-style-type: none;
}

#Tabs ul li {
display: inline-block;
clear: none;
float: left;
height: 21px;
}

#Tabs ul li a {
position: relative;
/*margin-top: 16px;*/
display: block;
margin-left: 1px;
line-height: 24px;
padding-left: 10px;
padding-right: 10px;
background: #f6f6f6;
z-index: 9999;
border: 1px solid #7F00FF;
border-bottom: 0px;

/* The following four lines are to make the top left and top right corners of each tab rounded. */
-moz-border-radius-topleft: 10px;
border-top-left-radius: 10px;
-moz-border-radius-topright: 10px;
border-top-right-radius: 10px;
/* end of rounded borders */

/*width: 130px;*/

text-decoration: none;
font-weight: bold;

background-color: #bfcbd6;
    color: #465c71;
}

#Tabs ul li a:hover {
text-decoration: underline; // a very simple effect when hovering the mouse on tab
}

#Tabs ul li.selected a{
	background-color: #9400D3;
	color: white;
}

#Tabs #Content_Area { // this is the css class for the content displayed in each tab
padding: 0 15px;
clear:both;
overflow:hidden;
line-height:19px;
position: relative;
top: 3px;
z-index: 5;
/*height: 150px;*/
overflow: hidden;
}

p { padding-left: 15px; }

.datepicker{
	background-image:url('../images/calendar.jpeg');
	background-repeat:no-repeat;
	background-position: right;
	background-size: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.search{
	background-image:url('../images/search.png');
	background-repeat:no-repeat;
	background-position: right;
	background-size: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

table.frame{
	border: #9400D3 1px solid;
	position:relative; 
	left: 5%; 
	width: 90%;
}

table.toothAlign1 td {
		padding-left: 52.5px;
		}

.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 5%;
	width: 100%;
	height: 120%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.2;
	opacity:.20;
	filter: alpha(opacity=20);
}
.white_content {
	display: none;
	position: absolute;
	top: 10%;
	left: 15%;
	width: 70%;
	height: 55%;
	padding: 16px;
	border: 5px solid #1aac9b;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

.altcolor tr:nth-child(even) {
    background-color: #EEAEEE;
}

tr.header{
	background-color: #9400D3;
	color: white;
	border-top: 2px solid red;
}

#footer {
 clear: both;
 position: relative;
 z-index: 10;
 height: 3em;
 margin-top: -3em;
}

.accord{
padding: 5px; 
text-align: left; 
margin-left: 20%; 

}

.accord2{
padding: 5px; 
text-align: left; 
margin-left: 10%; 
}


